<div class="app-container">
  <h1>Tilgungsplan-Rechner</h1>

  <app-loan-form (loanDataSubmitted)="onLoanDataSubmitted($event)"></app-loan-form>
  @if (calculationError) {
    <div class="calculation-error">
      <strong>Fehler bei der Berechnung:</strong>
      <p>{{ calculationError }}</p>
    </div>
  }
  
 
  @if (!calculationError) {
    <app-summary [summaryData]="summaryData"></app-summary>
    <app-amortization-table [amortizationPlan]="amortizationPlan"></app-amortization-table>

  }
  <div class="footer">
    <p>&copy; 2023 Tilgungsplan-Rechner. Alle Rechte vorbehalten.</p>
</div>