<form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="loanAmount">Darlehensbetrag:</label>
      <input type="number" id="loanAmount" formControlName="loanAmount">
      @if (loanAmountControl?.invalid && (loanAmountControl?.dirty || loanAmountControl?.touched)) {
        <div class="error-messages">
          @if (loanAmountControl?.errors?.['required']) {
            <div>Darlehensbetrag ist erforderlich.</div>
          }
          @if (loanAmountControl?.errors?.['min']) {
            <div>Darlehensbetrag muss größer als 0 sein.</div>
          }
        </div>
      }
    </div>
  
    <div>
      <label for="interestRate">Sollzins (in %):</label>
      <input type="number" id="interestRate" formControlName="interestRate">
      @if (interestRateControl?.invalid && (interestRateControl?.dirty || interestRateControl?.touched)) {
        <div class="error-messages">
          @if (interestRateControl?.errors?.['required']) {
            <div>Sollzins ist erforderlich.</div>
          }
          @if (interestRateControl?.errors?.['min']) {
            <div>Sollzins muss größer als 0 sein.</div>
          }
          @if (interestRateControl?.errors?.['max']) {
            <div>Sollzins darf maximal 100 sein.</div>
          }
        </div>
      }
    </div>
  
    <div>
      <label for="initialRepayment">Anfängliche Tilgung (in %):</label>
      <input type="number" id="initialRepayment" formControlName="initialRepayment">
       @if (initialRepaymentControl?.invalid && (initialRepaymentControl?.dirty || initialRepaymentControl?.touched)) {
        <div class="error-messages">
          @if (initialRepaymentControl?.errors?.['required']) {
            <div>Anfängliche Tilgung ist erforderlich.</div>
          }
          @if (initialRepaymentControl?.errors?.['min']) {
            <div>Anfängliche Tilgung muss größer als 0 sein.</div>
          }
          @if (initialRepaymentControl?.errors?.['max']) {
            <div>Anfängliche Tilgung darf maximal 100 sein.</div>
          }
        </div>
      }
    </div>
  
    <div>
      <label for="interestFixation">Zinsbindung (in Jahren):</label>
      <input type="number" id="interestFixation" formControlName="interestFixation">
      @if (interestFixationControl?.invalid && (interestFixationControl?.dirty || interestFixationControl?.touched)) {
        <div class="error-messages">
          @if (interestFixationControl?.errors?.['required']) {
            <div>Zinsbindung ist erforderlich.</div>
          }
          @if (interestFixationControl?.errors?.['min']) {
            <div>Zinsbindung muss mindestens 1 Jahr sein.</div>
          }
          @if (interestFixationControl?.errors?.['max']) {
            <div>Zinsbindung darf maximal 100 Jahre sein.</div>
          }
          @if (interestFixationControl?.errors?.['pattern']) {
            <div>Zinsbindung muss eine ganze Zahl sein.</div>
          }
        </div>
      }
    </div>
  
    <button type="submit" [disabled]="loanForm.invalid">Berechnen</button>
  </form>